#
# List of boards
#
# Syntax:
#	white-space separated list of entries;
#	each entry has the following fields:
#
#	Targetname  Architecture  CPU  Boardname  Vendor  SoC
#
#	Unused fields can be specified as "-", or omitted if they
#	are the last field on the line.
#
#	Lines starting with '#' are comments.
#	Blank lines are ignored.
#
# To keep the list sorted, use something like
#
#	:.,$! sort -f -k2,2 -k3,3 -k6,6 -k5,5 -k1,1
#
# Target	ARCH	CPU		Board name	Vendor		SoC
###########################################################################

BAB7xx		powerpc	74xx_7xx 	bab7xx		eltec
